__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp
*.csv
*.sqlite
*.db
.env
.DS_Store
docker-compose.override.yml
models/bert_preference_model/model.safetensors
models/user_vectors.pkl
models/bert_preference_model/config.json
models/bert_preference_model/special_tokens_map.json
models/bert_preference_model/tokenizer_config.json
models/bert_preference_model/vocab.txt